.form {
  max-width: 400px;
  margin: $spacingLarge auto;

  &__categories {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    color: $darkGray;
  }

  &__url {
    width: 100%;
    padding: $spacingSmall;
    margin: $spacingMedium auto;
    background-color: inherit;
    box-sizing: border-box;
    border: none;
    border-bottom: 3px solid $orange;
    font-size: $fontSizeMedium;
    text-align: center;
    transition: background-color 0.2s ease-in-out;
    font-family: $ubuntu;

    &::placeholder {
      font-family: $ubuntu;
    }
    &:focus {
      outline: none;
      background-color: $cloud;
    }

    &--error {
      border-bottom: 3px solid $red;
    }
  }

  &__error-message {
    height: 0px;
    opacity: 0;
    transition: 0.5s;
    margin: 0px;
    color: $red;

    &--open {
      height: 40px;
      opacity: 1;
      margin: auto;
    }
  }
  &__submit {
    height: 48px;
    padding: 0px $spacingLarge;
    background-color: $orange;
    color: $lightGray;
    border: none;
    font-size: $fontSizeRoot;
    font-family: $righteous;
    transition: 0.2s;
    cursor: pointer;

    &:hover,
    &:focus {
      color: $orange;
      outline: none;
    }
    &:hover {
      background-color: $cloud;
    }
    &:focus {
      background-color: $cloud;
    }
    &:active {
      background-color: $thunderCloud;
    }
  }
}
