.form {
  max-width: 400px;
  margin: $spacingLarge auto;
  text-align: center;

  .categories {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    color: white;

    label {
      display: inline-flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      cursor: pointer;
    }
    input{
      width: 20px;
      height: 20px;
      margin-right: $spacingSmall;
      position: relative;
      cursor: pointer;

      &:checked::before {
        opacity: 1;
        background-color: $brightRed;
      }
      &:checked::after {
        content: "";
        display: inline-block;
        height: 15px;
        width: 10px;
        border-right: 2px solid white;
        border-bottom: 2px solid white;
        box-sizing: border-box;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0) rotate(35deg);

      }

      &::before {
        content: "";
        display: inline-block;
        width: 20px;
        height: 20px;
        border: 2px solid $brightRed;
        background-color: $relaxedRed;
        box-sizing: border-box;
      }
    }
  }

  .url {
    width: 100%;
    padding: $spacingSmall;
    margin: $spacingMedium auto $spacingSmall auto;
    background-color: inherit;
    box-sizing: border-box;
    border: none;
    border-bottom: 3px solid $livelyRed;
    font-size: $fontSizeMedium;
    text-align: center;
    transition: background-color 0.2s ease-in-out;
    font-family: $bodyFont;
    color: white;

    &::placeholder {
      font-family: $bodyFont;
      color: $lightGray;
    }
    &:focus {
      outline: none;
      background-color: $livelyRed;
    }

    &.error {
      border-bottom: 3px solid $red;
    }
  }

  .error-message {
    height: 0px;
    opacity: 0;
    transition: 0.5s;
    margin: 0px;
    color: $red;
    text-align: center;

    &.open {
      height: 20px;
      padding: 10px 0px;
      opacity: 1;
      margin: 0px auto $spacingMedium auto;
      background-color: $red;
      color: white;
    }
  }

  .submit {
    height: 48px;
    padding: 0px $spacingLarge;
    background-color: $livelyRed;
    color: white;
    border: none;
    font-size: $fontSizeRoot;
    font-family: $buttonFont;
    font-weight: 300;
    transition: 0.2s;
    cursor: pointer;

    &.disabled {
      background-color: $thunderCloud;
      color: $lightGray;
      cursor: default;
      &:hover,
      &:focus {
        background-color: $thunderCloud;
        color: $lightGray;
      }
    }

    &:hover,
    &:focus {
      color: white;
      outline: none;
    }
    &:hover {
      background-color: $brightRed;
    }
    &:focus {
      background-color: $brightRed;
    }
    &:active {
      background-color: $thunderCloud;
    }
  }
}
