/* Colors */
$blue: #291474;
$red: #c00000;
$darkGray: #2b2b2b;
$lightGray: #fffbf0;
$cloud: #e9f0ff;
$thunderCloud: #d2def8;

/* Font sizes */
$fontSizeRoot: 16px;
$fontSizeMedium: 24px;
$fontSizeLarge: 32px;
$fontSizeXLarge: 40px;
$fontSizeXXLarge: 48px;

/* Spacing */
$spacingSmall: 8px;
$spacingMedium: 16px;
$spacingLarge: 32px;
